#set ($acceptorName = "")
<html>
<head>
   <style>
      $style
   </style>
</head>
<body>
$header<br><br>
<table class="objecttable">
    <thead><tr><th>$title</th><th>$task.name</th></tr><thead>
    <tbody>
      <tr>
		    <td>acceptorName: $asignee</td>
			  <td>creator: $creator</td>
      </tr>
      <tr>
         <td colspan="2"><a href="$hostUrl/do/view/task?oid=$task.id">$task.name</a></td>
      </tr>
		</tbody>
</table>
<table class="objecttable">
		<thead>
			<tr>
				<th>Field name</th>
				<th>Original task</th>
				<th>Updated task</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Task name:</td>
				<td>$oldTask.name</td>
				<td>$task.name</td>
			</tr>
			<tr>
				<td>Task description:</td>
				<td>$oldTask.description</td>
				<td>$task.description</td>
			</tr>
			<tr>
				<td>Estimated hours:</td>
				<td>$oldTask.estimatedHours</td>
				<td>$task.estimatedHours</td>
			</tr>
			<tr>
				<td>Assigned to:</td>
				<td>$oldAsignee</td>
				<td>$asignee</td>
			</tr>
    </tbody>
</table>
<br>
$footer
</body>
</html>